.counter-widget {
    position: fixed;
    bottom: 50px;
    left: 16px;
    z-index: 1050;
    background: #0f172a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    padding: 8px 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    /*font-family: "Courier New", Courier, monospace;*/
}

.counter-label {
    font-size: 10px;
    color: #f9fafb;
    letter-spacing: 1px;
    text-transform: uppercase;
    /*margin-bottom: 2px;*/
}

.counter-digits {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(
            to bottom,
            hsl(222, 47%, 15%) 0%,
            hsl(222, 47%, 11%) 100%
    );
    /*padding: 4px 8px;*/
    border-radius: 4px;
    text-align: center;
    min-width: 80px;
}
