.a4-pages-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.a4-page {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 297mm;
    margin: 0.5in;
    padding: 0.5in;
    width: 210mm;
}

@media (max-width: 768px) {
    .a4-pages-wrapper {
        display: block;
    }

    .a4-page {
        border: none;
        box-shadow: none;
        break-after: page;
        height: 250mm;
        width: 210mm;
        margin: 0;
    }
}

@media print {
    #navbar-container, #button-container, #footer-container {
        display: none;
    }

    .a4-pages-wrapper {
        display: block;
        padding: 0;
    }

    .a4-page {
        border: none;
        box-shadow: none;
        break-after: page;
        margin: 0;
        min-height: 297mm;
        width: 210mm;
    }

    @page {
        size: A4;
        margin: 0.25in;
    }

    .icon-link span {
        white-space: nowrap !important;
    }
}

.a4-page ul {
    padding-top: 0;
    margin-top: 0;
}

.a4-page ul li {
    font-size: .85rem;
    line-height: 1.25rem;
}

.a4-page a {
    text-decoration: none;
    color: inherit;
}

.text-sm {
    font-size: .85rem;
}
