.a4-pages-wrapper {
    margin: 3rem 0;

    align-items: center;
    display: flex;
    flex-direction: column;
}

.a4-page {
    background-color: #fff;

    min-height: 297mm;
    max-width: 210mm;

    padding: .75in;
    margin: 1rem;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.a4-page a {
    text-decoration: none;
    color: inherit;
}

.a4-page p {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .a4-page {
        width: auto;
    }
}

h6 {
    text-align: justify;
}

@media print {
    #header-container, #back-button-container, #media-button-container, #footer-container {
        display: none;
    }

    .a4-pages-wrapper {
        margin: 0;
        display: block;
    }

    .a4-page {
        border: none;
        box-shadow: none;
        break-after: page;
        margin: 0;
        min-height: 297mm;
        width: 210mm;
        background: white;
        color: #000;
    }

    a {
        color: #000 !important;
    }

    @page {
        size: A4;
        margin: 0.25in;
    }

}
